@{
    Layout = "~/Views/Shared/_Layout-admin.cshtml";
}

<section class="banner-bottom py-5">
<div class="container py-5">



    <br/>

    <h3>List of Orders</h3>

    <table id="dataTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Order Id</td>
                <td>Amount</td>
                <td>Payment-Method</td>
                <td>Order-Status</td>
                <td>Order-Date</td>
                <td>View Details</td>
                <td>Update-Status</td>
            </tr>
        </thead>
    </table>
</div>

    </section>



@section scripts{
    <script type="text/javascript">
       
        var filterValues = {};
        $(document).ready(function () {
            var refDataTable = $("#dataTable").dataTable({
                serverSide: true,
                bFilter: false,
                columns: [
                    { data: "orderId" },
                    { data: "total" },
                    { data: "paymentType" },
                    { data: "orderStatusType" },
                    { data: "orderDate" },
                    { data: "orderStatusType" },
                    { data: "orderDate" },
                ],
                ajax: function (data, callback, settings) {
                    filterValues.draw = data.draw;
                    filterValues.start = data.start;
                    filterValues.length = data.length;
                    filterValues.customerId=@ViewBag.customerId;
                    $.ajax({
                        url: '/Customer/GetOrders',
                        method: 'GET',
                        data: filterValues
                    }).done(callback);
                }
            });
        });
    </script>
}


