<div class="banner-wthree-info container">
    <div class="row">
        <div class="col-lg-4">
            <h3><span> @ViewBag.CompanyName </span></h3>
            <a href="/company/companydashboard" class="btn shop">Dashboard</a>

            <a href="/company/Departments" class="btn shop">DepartmentIds</a>
            <a href="/company/Officers" class="btn shop">Officers</a>
            <a href="/company/Employees" class="btn shop">Employees</a>
            <a href="/company/Suppliers" class="btn shop">Suppliers</a>
            <a href="/company/Products" class="btn shop">Products</a>
            <a href="/company/Promoters" class="btn shop">Promoters</a>


        </div>

    </div>
</div>
</div>