@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
</div>
<section class="banner-bottom py-5">
    <div class="container">
        <div class="content-grid">
            <div class="text-center icon">
                <span class="fa fa-unlock-alt"></span>
            </div>
            <div class="content-bottom">
                <form action="/company/login" method="post">
                    <div class="field-group">
                        <div class="content-input-field">
                            <input name="emailId" type="text" value="" placeholder="Email id" required="">
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="content-input-field">
                            <input name="password" type="Password" placeholder="Password">
                        </div>
                    </div>
                    <div class="content-input-field">
                        <button type="submit" class="btn">Sign In</button>
                    </div>
                    <ul class="list-login">
                        <li>
                            <a href="#" class="text-right">Forgot password?</a>
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                    <ul class="list-login-bottom">
                        <li class="">
                            <a href="/company/RegisterCompany" class="">Don't have an Account?</a>
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>

<style>
    .main-sec {
        min-height: auto !important;
    }
</style>