@model CreateCompanyVM
@{
    Layout = "~/Views/Shared/_Layout-admin.cshtml";
}
<div class="banner-wthree-info container">
    <div class="row">
        <div class="col-lg-12">
            <h3><span> @ViewBag.CompanyName </span></h3>
            <a href="/company/companydashboard?companyId=@ViewBag.CompanyId" class="btn shop">Dashboard</a>

            <a href="/company/Departments?companyId=@ViewBag.CompanyId" class="btn shop">Departments</a>
            <a href="/company/Officers?companyId=@ViewBag.CompanyId" class="btn shop">Officers</a>
            <a href="/company/Employees?companyId=@ViewBag.CompanyId" class="btn shop">Employees</a>
            <a href="/company/Suppliers?companyId=@ViewBag.CompanyId" class="btn shop">Suppliers</a>
            <a href="/company/Products?companyId=@ViewBag.CompanyId" class="btn shop">Products</a>
            <a href="/company/Promoters?companyId=@ViewBag.CompanyId" class="btn shop">Promoters</a>
            <a href="/company/Orders?companyId=@ViewBag.CompanyId" class="btn shop">Orders</a>


        </div>

    </div>
</div>
</div>
<style>
    a.btn.shop {
        padding: 12px;
        margin: 4px;
    }
</style>