
<div class="banner-wthree-info container">
    <div class="row">
        <div class="col-lg-6">
            <a href="/company/index" class="btn shop">Company</a>
        </div>

        <div class="col-lg-6 ">
            <a href="/" class="btn shop">Customer</a>
        </div>
    </div>
</div>
</div>
<style>
    .main-sec {
        min-height: auto !important;
    }

    .ml-auto {
        display: none;
    }

    .nav-top-wthree {
        display: none;
    }
</style>
