
@{
    ViewData["Title"] = "Thankyou";
}
<div class="container py-5">
    <div class="row">
        <div class="col-md-5">
            <img src="~/images/thank-you.jpg" style="max-width:90%"/>
        </div>
        <div class="col-md-7">
            <br/>
            <br/>
            <h2>Your order placed sucessfully...</h2>
            <h4>Your order Id is 105 @ViewBag.OrderId, Track your order for all updates</h4>
            <!-- buttons -->
            <div class="buttons">
                <a href="/" class="btn btn-success">
                    Continue Shopping..
                </a>
                <a href="#contact" class="btn btn-secondary">
                    Track Order
                </a>
            </div>
        </div>

        </div>
    </div>